<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="1">
<groups>
	<run>
		<include name="swap"/>
	</run>
</groups>
	<test name="HackerTests">
	<packages>
	<package name="practiceProblems1"/>
	</packages>
		<!-- <classes>
			<class name="practiceProblems1.SwapNumbers"/>
		</classes> -->
	</test> 
</suite> <!-- Suite -->
